<a href="https://colab.research.google.com/github/carloslme/pandas/blob/main/pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [1]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.4.4

# Exercises

## Create dataframe

A dataframe is a two-dimensional structure that can hold multiple columns of data.

In [29]:
df = pd.DataFrame({"X": [1,2,3,4,5],"Y":[6,7,8,9,10], "Z": [11,12,13,14,15]})
print(df)

   X   Y   Z
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

## Create DataSeries

A Series is a one-dimensional structure that can hold only a single column of data.

In [50]:
s = pd.Series([2,4,6,8,10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

## Create Test Objects

In [12]:
df = pd.DataFrame(np.random.rand(20,5))
print(df)

           0         1         2         3         4
0   0.256978  0.454609  0.070188  0.543297  0.383659
1   0.717295  0.259846  0.178955  0.640143  0.255553
2   0.252998  0.682290  0.756114  0.556827  0.159867
3   0.139529  0.623099  0.379270  0.851565  0.679675
4   0.102121  0.396719  0.598457  0.433969  0.967243
5   0.976841  0.085258  0.125782  0.003752  0.552957
6   0.769577  0.053859  0.048434  0.302579  0.062111
7   0.034859  0.510097  0.750980  0.930495  0.552660
8   0.205720  0.933735  0.599281  0.793963  0.268511
9   0.563205  0.671403  0.226133  0.691892  0.346484
10  0.657004  0.694074  0.990480  0.492815  0.513894
11  0.103848  0.775182  0.821613  0.932728  0.952621
12  0.295627  0.640476  0.477107  0.797480  0.918620
13  0.723659  0.061306  0.470564  0.198949  0.955742
14  0.883296  0.945475  0.548117  0.778258  0.024899
15  0.742778  0.788258  0.140942  0.530067  0.401334
16  0.200960  0.261677  0.010956  0.581657  0.511662
17  0.828054  0.443160  0.365997  0.059499  0.654087
18  0.620294  0.912749  0.764081  0.057163  0.033058
19  0.698597  0.170531  0.307301  0.655613  0.707956

In [10]:
my_list = [1,2,3,4,5]
print(pd.Series(my_list))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
df.index = pd.date_range("1900/1/30", periods=df.shape[0])

In [14]:
df.index

DatetimeIndex(['1900-01-30', '1900-01-31', '1900-02-01', '1900-02-02',
               '1900-02-03', '1900-02-04', '1900-02-05', '1900-02-06',
               '1900-02-07', '1900-02-08', '1900-02-09', '1900-02-10',
               '1900-02-11', '1900-02-12', '1900-02-13', '1900-02-14',
               '1900-02-15', '1900-02-16', '1900-02-17', '1900-02-18'],
              dtype='datetime64[ns]', freq='D')

## Viewing/Inspecting Data

### First 5 rows of the DataFrame

In [16]:
df.head()

                   0         1         2         3         4
1900-01-30  0.256978  0.454609  0.070188  0.543297  0.383659
1900-01-31  0.717295  0.259846  0.178955  0.640143  0.255553
1900-02-01  0.252998  0.682290  0.756114  0.556827  0.159867
1900-02-02  0.139529  0.623099  0.379270  0.851565  0.679675
1900-02-03  0.102121  0.396719  0.598457  0.433969  0.967243

### Last 5 rows of a Datframe

In [17]:
df.tail()

                   0         1         2         3         4
1900-02-14  0.742778  0.788258  0.140942  0.530067  0.401334
1900-02-15  0.200960  0.261677  0.010956  0.581657  0.511662
1900-02-16  0.828054  0.443160  0.365997  0.059499  0.654087
1900-02-17  0.620294  0.912749  0.764081  0.057163  0.033058
1900-02-18  0.698597  0.170531  0.307301  0.655613  0.707956

### Number of rows and columns

In [19]:
df.shape

(20, 5)

### Index, Datatype and memory information

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 20 entries, 1900-01-30 to 1900-02-18
Freq: D
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
dtypes: float64(5)
memory usage: 960.0 bytes

### Summary statistics for numerical columns

In [21]:
df.describe()

               0          1          2          3          4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.488662   0.518190   0.431538   0.541636   0.495130
std     0.306951   0.294411   0.291670   0.288154   0.309686
min     0.034859   0.053859   0.010956   0.003752   0.024899
25%     0.204530   0.261219   0.169452   0.401121   0.265272
50%     0.591749   0.566598   0.424917   0.569242   0.512778
75%     0.728439   0.714351   0.637205   0.782184   0.686745
max     0.976841   0.945475   0.990480   0.932728   0.967243

### View unique values and counts

In [22]:
s.value_counts(dropna=False)

2     1
4     1
6     1
8     1
10    1
dtype: int64

### Unique values and counts for all columns

In [23]:
df.apply(pd.Series.value_counts)

            0   1    2    3    4
0.003752  NaN NaN  NaN  1.0  NaN
0.010956  NaN NaN  1.0  NaN  NaN
0.024899  NaN NaN  NaN  NaN  1.0
0.033058  NaN NaN  NaN  NaN  1.0
0.034859  1.0 NaN  NaN  NaN  NaN
...       ...  ..  ...  ...  ...
0.952621  NaN NaN  NaN  NaN  1.0
0.955742  NaN NaN  NaN  NaN  1.0
0.967243  NaN NaN  NaN  NaN  1.0
0.976841  1.0 NaN  NaN  NaN  NaN
0.990480  NaN NaN  1.0  NaN  NaN

[100 rows x 5 columns]

## Selection

Returns column with label `X` as Series

In [30]:
df["X"]

0    1
1    2
2    3
3    4
4    5
Name: X, dtype: int64

Return columns as a new DataFrame

In [31]:
df[["X","Y"]]

   X   Y
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

Selection by position

In [32]:
s.iloc[0]

2

First row

In [37]:
df.iloc[0,:]

X     1
Y     6
Z    11
Name: 0, dtype: int64

First element of first column

In [38]:
df.iloc[0,0]

1

## Data Cleaning

Rename columns

In [39]:
df.columns = ["a", "b", "c"]

In [40]:
df

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

Checks for null Values, Returns Boolean Array

In [43]:
pd.isnull(df)

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False

Opposite of pd.usnull()

In [44]:
pd.notnull(df)

      a     b     c
0  True  True  True
1  True  True  True
2  True  True  True
3  True  True  True
4  True  True  True

Drop all rows that contains null values

In [45]:
df.dropna(axis=1)

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

Drop all rows that have less than n non null values

In [46]:
df.dropna(axis=1, thresh=1)

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

Replaces all null values with `x` value

In [47]:
x = 10
df.fillna(x)

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

Replace all null values with the mean in a Series

In [51]:
s.fillna(s.mean())

0     2
1     4
2     6
3     8
4    10
dtype: int64

Convert the datatype of the series to float

In [53]:
print(s.dtypes)
s.astype(float)

int64
int64

Replace all values equal to 1 with `"one"`

In [55]:
s.replace(2, "two")

0    two
1      4
2      6
3      8
4     10
dtype: object

## Filter, Sort, and Group by

Rows where the column is less than 3

In [61]:
df[df["a"] < 3]

   a  b   c
0  1  6  11
1  2  7  12

Rows where `8 > "b" > 3`

In [63]:
df[(df["b"] > 3) & (df["b"] < 8)]

   a  b   c
0  1  6  11
1  2  7  12

Sort values by `"a"`in ascending order

In [64]:
df.sort_values("a")

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

Sort values by "b" in descending order

In [65]:
df.sort_values("b", ascending=False)

   a   b   c
4  5  10  15
3  4   9  14
2  3   8  13
1  2   7  12
0  1   6  11

Sort values by cilumn "a" in descending order then "b" in ascending order

In [68]:
df.sort_values(["a", "b"], ascending=[False, True])

   a   b   c
4  5  10  15
3  4   9  14
2  3   8  13
1  2   7  12
0  1   6  11

Returns a groupby object for values from one column

In [69]:
df.groupby("a")

## Join/Combine

In [71]:
df2 = pd.DataFrame({"a":[5,7,0,8,5], "b": [9,42,45,1,87]})

Add the rows in df to the end of df2

In [72]:
df.append(df2)

<ipython-input-72-802dbf5b7501>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df2)

   a   b     c
0  1   6  11.0
1  2   7  12.0
2  3   8  13.0
3  4   9  14.0
4  5  10  15.0
0  5   9   NaN
1  7  42   NaN
2  0  45   NaN
3  8   1   NaN
4  5  87   NaN

Add the columns in df to the right end of df2 by columns and then by rows

In [75]:
df3 = pd.concat([df, df2], axis=1) # 1 for columns, 0 for rows
df3

   a   b   c  a   b
0  1   6  11  5   9
1  2   7  12  7  42
2  3   8  13  0  45
3  4   9  14  8   1
4  5  10  15  5  87

In [76]:
df4 = pd.concat([df, df2], axis=0) # 0 for rows
df4

   a   b     c
0  1   6  11.0
1  2   7  12.0
2  3   8  13.0
3  4   9  14.0
4  5  10  15.0
0  5   9   NaN
1  7  42   NaN
2  0  45   NaN
3  8   1   NaN
4  5  87   NaN

SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. The 'how' can be 'left', 'right', 'outer' or 'inner'

In [78]:
df

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [80]:
df2

   a   b
0  5   9
1  7  42
2  0  45
3  8   1
4  5  87

In [81]:
df2.astype(float)
df.join(df2, on="a", how="inner", lsuffix="_left", rsuffix="_right")
df

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15